cached-property==1.5.2
certifi==2021.10.8
chumpy==0.70
cycler==0.11.0
Cython==0.29.28
h5py==3.6.0
kiwisolver==1.4.2
matplotlib==2.2.5
numpy==1.21.6
opencv-python==4.5.5.64
opendr==0.77
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scipy==1.7.3
six==1.16.0
tqdm==4.64.0
typing_extensions==4.2.0
